
@import "tailwindcss";
@import "@astryxdesign/core/reset.css";
@import "@astryxdesign/core/astryx.css";
@import "./themes/neutral/neutral.css";

* {
  box-sizing: border-box;
}

html,
body,
#app {
  min-height: 100%;
}

body {
  margin: 0;
}
